extends layout

block content
  .row
    .col-md-4.col-md-offset-4.mx-auto
      if error === true
        h5 Please enter valid credentials.
      if action === 'deny'
        h5 Access denied. Please check email to recover account.
      form(id="login" action='.' method='POST')
        .form-group.my-0
          input.form-control(
            type='text'
            id='email'
            name='email'
            placeholder='Email'
            value=''
            required
          )
        .form-group.my-0
          input.form-control(
            type='password'
            id='password'
            name='password'
            placeholder='Password'
            value=''
            required
          )
        .form-group
          input.btn.btn-primary.btn-lg.btn-block(type='submit' value='Submit')
